body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: linear-gradient(180deg, rgb(45, 111, 255), rgb(147, 203, 235));
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 10px;
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

#loc {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#closePopupBG {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.75);
    z-index: 98;
    display: none;
}

#userLocationWindow {
    width: 200px;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    border-radius: 10px;
    text-align: center;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 700;
    top: 100px;
    right: 100px;
    display: none;
    z-index: 99;
}

.btn {
    margin: 0.5rem;
    color: #ffffff;
    background: rgb(0, 0, 0, 0.5);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    overflow: hidden;
    font-weight: 700;
    text-align: center;
}

.btn:hover {
    color: #000000;
    background: #ffffff;
    box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.5);
}

.weatherBg {
    margin: 10px 0;
    width: 80vw;
    background: linear-gradient(
        to right top,
        rgba(28, 47, 68, 0.25),
        rgba(28, 47, 68, 0.25)
    );
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    text-align: center;
    padding: 0;
}

#currentWeather {
    position: relative;
}

#missingLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80vw;
    height: 100%;
    background: rgb(0, 0, 0, 0.9);
    color: white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#currentHead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

#currentHead > * {
    padding: 10px;
    min-width: 100px;
}

#currentImg {
    height: 100px;
    width: 100px;
}

#locationLink {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

#temp {
    font-weight: 700;
    font-size: 50px;
}

#currentAtributes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

#currentAtributes > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
}

#currentAtributes > div > p:last-child {
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: 700;
}

#currentAtributes > div > p:first-child {
    font-weight: 400;
    position: absolute;
    bottom: 0;
    color: white;
}

/* -------------------------------- */

#nxtDaysWeather {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}

.singleHour {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin: 0.2rem;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.singleHour:hover {
    cursor: pointer;
}

.singleHour img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.singleHour p {
    color: white;
    font-size: 1rem;
    text-shadow: 2px 2px 5px black;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #006eff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000000;
}
